{% extends 'base.html' %}
{% load mediapath_tag %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2 class="display-4">{{ product.name }}</h2>
            <p class="lead">{{ product.description }}</p>
            <p class="lead">Цена: ${{ product.price_per_unit }}</p>
            <p class="lead">Категория: {{ product.category }}</p>
            <p class="lead">Дата добавления: {{ product.creation_date }} </p>

            {% if version  %}
                <p class="lead">Текущая версия: {{ version.version_number }}</p>
                <a href="{% url 'main:version-detail' version.id %}" class="btn btn-primary btn-lg btn-block">Посмотреть версию продукта</a>
            {% else %}
                <a href="{% url 'main:version-form' pk=product.pk %}" class="btn btn-primary btn-lg btn-block">Добавить версию продукта</a>
            {% endif %}

            <div class="mt-4">
                <a href="{% url 'main:product-detail' product.id %}" class="btn btn-secondary btn-lg btn-block">Добавить в корзину</a>
            </div>
            <div class="mt-2">
                <a href="{% url 'main:product-delete' product.pk %}" class="btn btn-secondary btn-lg btn-block">Удалить</a>
            </div>
            <div class="mt-2">
                <a href="{% url 'main:product-edit' product.pk %}" class="btn btn-secondary btn-lg btn-block">Изменить</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
